matplotlib
dwave-ocean-sdk>=8.3.0  # To do, update with inclusion of ParallelEmbeddingComposite and pointing to latest version of dwave-networkx
notebook
-e git+https://github.com/jackraymond/dwave-system@feature/parallel_embeddings#egg=dwave-system  # Temporary, subject to ocean version iteration
-e git+https://github.com/dwavesystems/dwave-networkx@main#egg=dwave-networkx  # Temporary, subject to ocean version iteration
