matplotlib
dwave-system @ git+https://github.com/jackraymond/dwave-system@feature/parallel_embeddings
dwave-networkx @ git+https://github.com/jackraymond/dwave-networkx@main
dwave-ocean-sdk>=8.3.0  # To do, update with inclusion of ParallelEmbedding composite
